@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: "Muli", sans-serif;
  font-size: 32px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

h2 {
  font-size: 30px;
  font-weight: 100;
}
